#home {
  background: #f1f3ff;
  position: relative;

  .container {
    .hero-section {
      height: 500px;
      display: flex;
      align-items: center;

      .section-1 {
        width: 45%;

        h3 {
          font-weight: 700;
          font-size: 36px;
          line-height: 150%;
          margin: 0;
          margin-bottom: 16px;
        }

        p {
          width: 75%;
          font-weight: 300;
          font-size: 14px;
          line-height: 20px;
          margin: 0;
        }
      }

      .section-2 {
        width: 55%;
        height: 100%;

        img {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }

    .car-search {
      position: absolute;
      bottom: 0 - 53px;
      left: calc(50% - 547px);
    }
  }
}
